<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
<<<<<<< HEAD
  <!-- <iframe class="embed-responsive-item" src="//www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"></iframe> -->
=======
  <iframe class="embed-responsive-item" src=<%= YtVid.string_to_url("dQw4w9WgXcQ",{embed: true, autoplay: true, origin: request.env["REQUEST_URI"]}) %>></iframe>
>>>>>>> 1520039e527d07d3ea5b8c6c0668c0c0afb4edec
</div>
