<%= form_tag(show_game_path, id: "game" + String(@game.id), method: :patch, remote: true, authenticity_token: true) do %>
  <button style="border:none;" onclick="<%= "$('#game#{String(@game.id)}').trigger('submit.rails');".html_safe %>">

    THIS IS THE SEARCH RESULT BOX

    <input name="game[id]" value="<%= @game.id %>" type="hidden">
    SOME CONTENT ABOUT GAME!

    THIS IS THE SEARCH RESULT BOX

  </button>
<% end %>